* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat" sans-serif;
}
ul {
  list-style-type: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c2126;
}

.hero__img {
  max-width: 200px;
  max-height: 400px;
}

.header__nav {
  display: flex;
}
